.box {
    background: #fefdf9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .09);
    border-radius: 8px;
    width: 50%;
    height: 30rem;
    margin: 5% auto;
    padding: 20px;
}

.top-box {
    border-bottom: rgb(235, 229, 229) 2px solid;
}

.top-box h3 {
    font-size: 20px;
    position: relative;
}

.btn-lancamento {
    background-color: inherit;
    border: none;
    outline: none !important;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
}

.btn-lancamento:hover .img-icone-lanc {
    filter: brightness(0.7);
}

.img-icone-lanc {
    width: 2rem;
}

.select {
    position: absolute;
    top: 100%;
    left: 0;
    width: 30%;
    font-size: 15px;
    color: #868484;
    text-align: center;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.select.open {
    display: block;
}

.option-select {
    padding: 10px;
    cursor: pointer;
}

.option-select:hover {
    background-color: #cfcccc;
}

.r:hover {
    color: #fff;
    background-color: rgb(26, 158, 26);
    transition: 0.3s;
}

.d:hover {
    transition: 0.3s;
    color: #fff;
    background-color: rgb(211, 36, 36);
}

.img-complet {
    width: 4rem;
}

#botaoDespesaPag2 {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    
}

#botaoDespesaPag2:hover .img-complet {
    filter: brightness(0.7);
    transition: 0.5s;
}

#botaoReceitaPag2:hover .img-complet {
    filter: brightness(0.8);
    transition: 0.5s;
}


#botaoReceitaPag2 {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    
}